html, body {
    width: auto;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
    background: #ecf0f1;
}

h1 {
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    padding-top: 50px;
    margin: 0;
}

#login {
	padding-top: 20px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#login label {
	display: block;
}

#login input {
	font-size: .9em;
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 0;
    box-sizing: border-box;
    border: none;
    text-indent: 10px;
    border: 1px solid #dadada;
    -webkit-border-radius: 0;  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -moz-border-radius: 0;  /* Firefox 1-3.6 */
    border-radius: 0;  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
}

#login input[type="submit"] {
    color: #fff;
    background: #2ecc71;
    border: none;
    margin-top: 20px;
    -webkit-transition: background .5s; /* For Safari 3.1 to 6.0 */
    -moz-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
    text-indent: 0px;
}

#login input[type="submit"]:hover {
    background: #34ec82;
}